.flexContainer {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
    /* background-color: skyblue; */
    /* justify-content: space-evenly; */
    /* justify-content: space-between; */
    justify-content: space-around;
    /* justify-content: center; */
    height: 164px;
    line-height: 164px;
}

.logoMenuBar {
    width: 9.8%;
    /* background-color: #fff; */
}

.mainMenuMenuBar {
    /* width:10%; */
    /* background-color: #fff; */
}

.mainMenuMenuBar{
    /* background-color:red; */
}

.connectWalletMenuBar {
    display: flex;
    flex-direction: row;
    /* background-color: pink; */
}
