.myMusic{
    /* background-color: rgb(251, 249, 91); */
    width: 50px;
    border-radius: 25px;
    background: #3B0273;
    padding-left: 10px;
    padding-right: 5px;
    width: 49px;
    height: 30px;
    position: relative;
    top: 68px;
    /* left: -12px; */
    color: #ffffff;
    box-shadow: 0px 3px 6px #07030329;
    transition: background 1s ease-in-out;
}
.myMusic:hover{
    background: #952dfd;
}

#img{
    position: relative;
    bottom: 65px;
    left: 5px;
}
#my {
    position: relative;
    bottom: 67px;
    color: #ffffff;
}


